/*----- Global -----*/
@font-face {
	src: url(../font/CircularStd-Medium.ttf);
	font-family: CircularStd;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html {
	font-family: CircularStd, sans-serif;
}
.landing {
	background-image: url(../images/bgFlood.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	overflow-y: hidden;
	min-height: 600px;
	overflow-x: hidden;
}
.features {
	background-image: url(../images/bg_02.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	overflow-y: hidden;
	min-height: 600px;
	position: relative;
}
.groups {
	background-image: url(../images/bg_03.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	overflow-y: hidden;
	min-height: 600px;
	position: relative;
}

h1 {
	font-size: 36px;
	margin-bottom: 10px;
}
p {
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 20px;
	opacity: 0.8;
}
a {
	font-size: 16px;
}

.btnOne {
	border: white 2px solid;
	border-radius: 100px;
	padding: 0.6em 1.75em;
}
.btnTwo {
	background-color: #1f2122;
	border-radius: 100px;
	padding: 0.6em 1.75em;
	display: block;
	width: 160px;
	margin-top: 40px;
	text-align: center;
}
/*----- Landing -----*/
.nav {
	padding-top: 3em;
}
.pages {
	float: right;
	text-align: right;
}
.pages a {
	text-decoration: none;
	color: white;
	margin-left: 25px;
	vertical-align: middle;
}
.logo {
	width: 160px;
	vertical-align: middle;
	margin-top: -10px;
}
.landingWrapper {
	width: 88%;
	margin: auto;
}
.landingContent {
	width: 100%;
	margin: 150px auto 0 auto;
	display: flex;
}
.contentLeft {
	flex: 0 0 55%;
}
.contentRight {
	flex: 0 0 45%;
}
.contentLeft h1,
.contentLeft p,
.contentLeft a {
	color: white;
	text-decoration: none;
}
.contentRight {
	margin-left: -100px;
}
.contentRight ul {
	display: inline-block;
	list-style: none;
	color: #454d4e;
	font-size: 15px;
	margin-bottom: 20px;
	text-align: center;
}
.contentRight iframe {
	width: 650px;
	height: 366px;
}
/*----- Features -----*/
.server {
	position: absolute;
	top: 130px;
	left: 8%;
}
.dot {
	position: absolute;
	bottom: 30px;
	right: 2%;
}
.server h1,
.server img,
.dot h1,
.dot img {
	display: inline-block;
	vertical-align: middle;
}
.server img,
.dot img {
	margin-bottom: 10px;
	width: 36px;
}
.server p,
.dot p {
	display: block;
	margin-left: 38px;
}
.dot i {
	color: #1e8ef5;
	margin-right: 5px;
}
.server i {
	color: #1e8ef5;
	margin-right: 5px;
}
/*----- Groups -----*/
.groupsWrapper {
	width: 88%;
	margin: auto;
}
.groupsContent {
	width: 100%;
	margin: 150px auto 0 auto;
	display: flex;
}
.contentLeft img,
.contentLeft h1 {
	display: inline-block;
	vertical-align: middle;
}
.contentLeft img {
	margin-bottom: 10px;
	width: 36px;
}
.groupsContent > .contentLeft p {
	margin-left: 40px;
}
.groupsImage {
	width: 500px;
	margin-top: 30px;
}
.contentLeft i {
	color: #1e8ef5;
	margin-right: 5px;
}
.contentRight img {
	margin-left: 5rem;
}
#ketua {
	margin-left: 6.6em;
}
#anggota1 {
	margin-left: 4.8em;
}
#anggota2 {
	margin-left: 3.5em;
}
/*----- Footer -----*/
.footer {
	width: 83%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.footer p {
	color: #454d4e;
	display: inline-block;
}
.pagesRight {
	float: right;
}
.pagesRight p {
	margin-left: 25px;
}
.footer a {
	font-size: 18px;
	margin-bottom: 20px;
	text-decoration: none;
	color: #454d4e;
}

/*-------- Responsive Media --------*/
/* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 800px) and (max-width: 1024px) {
	.landingB img {
		width: 12em;
		margin-top: 5em;
	}
	.landing {
		height: 70vh;
	}
	#typing {
		font-size: 2em;
	}
	body {
		width: 90%;
	}
	.post1 img {
		width: 155px;
		margin-top: 50px;
	}
	.post2 img {
		width: 200px;
		margin-top: 100px;
		margin-left: 60px;
	}
	.post3 img {
		width: 170px;
		margin-top: 100px;
	}
	.newsWr {
		font-size: 12px;
	}
}

/* 
	##Device = Ipads (portrait)
	##Screen = B/w 768px
  */
@media (width: 768px) {
	.landingB img {
		width: 12em;
		margin-top: 5em;
	}
	.landing {
		height: 70vh;
	}
	#typing {
		font-size: 2em;
	}
	body {
		width: 90%;
	}
	.postText p {
		font-size: 18px;
	}
	.postText h2 {
		font-size: 24px;
	}
	.post1 img {
		width: 155px;
		margin-top: 50px;
		margin-right: 5%;
	}
	.post2 img {
		width: 155px;
		margin-top: 100px;
		margin-left: 2%;
	}
	.post3 img {
		width: 130px;
		margin-top: 100px;
	}
	.newsWr {
		font-size: 12px;
	}
}

/* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.landingB img {
		width: 12em;
		margin-top: 5em;
	}
	.landing {
		height: 80vh;
	}
	#typing {
		font-size: 2em;
	}
	body {
		width: 90%;
	}
	.post1 img {
		width: 155px;
		margin-top: 50px;
	}
	.post2 img {
		width: 200px;
		margin-top: 100px;
	}
	.post3 img {
		width: 150px;
		margin-top: 100px;
	}
	.newsWr {
		font-size: 12px;
	}
}

/* 
	##Device = Low Resolution Tablets, Mobiles
	##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
	.landingB img {
		width: 12em;
		margin-top: 3em;
	}
	.landing {
		height: 80%;
	}
	#typing {
		font-size: 2em;
	}
	body {
		width: 90%;
	}
	.post1 img {
		width: 155px;
		margin-top: 50px;
	}
	.post2 img {
		width: 155px;
		margin-top: 100px;
	}
	.post3 img {
		width: 70px;
		margin-top: 100px;
	}
	.newsWr {
		font-size: 12px;
	}
}

/* 
	##Device = Most of the Smartphones Mobiles
	##Screen = B/w 360px to 479px
  */

@media (min-width: 360px) and (max-width: 480px) {
	.landingWrapper {
		width: 90%;
		display: block;
	}
	.contentLeft h1 {
		font-size: 1.2em;
		font-weight: 500;
	}
	.contentLeft p {
		font-size: 0.8em;
	}
	.contentLeft a {
		font-size: 0.7em;
		font-weight: 200;
	}
	.contentRight iframe {
		width: 325px;
		height: 183px;
	}
	.landingContent {
		display: block;
		margin: 120px auto 0 auto;
	}
	.contentRight {
		margin-left: 0px;
	}
	.btnTwo {
		margin-top: 10px;
		margin-bottom: 30px;
		width: 40px;
		height: 15px;
	}
	/* 
	--- 2nd page ----
  */
	.server h1 {
		font-size: 20px;
	}
	.server i {
		font-size: 20px;
	}
	.server p {
		font-size: 15px;
	}
	.server p > br {
		display: none;
	}
	.dot h1 {
		font-size: 20px;
	}
	.dot i {
		font-size: 20px;
	}
	.dot p {
		font-size: 15px;
	}
	.dot p > br {
		display: none;
	}
	/* 
	--- 3th page ----
  */
	.groupsWrapper {
		width: 90%;
	}
	.groupsContent {
		display: block;
	}
	.groupsContent > .contentRight img {
		width: 300px;
		display: block;
		margin: 0 auto;
	}
}
/* 
	##Device = Most of the Smartphones Mobiles
	##Screen = B/w 320px to 479px
  */

@media (width: 320px) {
	.landingB img {
		width: 12em;
		margin-top: 1em;
	}
	.landing {
		height: 80%;
	}
	#typing {
		font-size: 18px;
	}
	body {
		width: 90%;
	}
	.post1 img {
		width: 200px;
		margin-top: 50px;
	}
	.post2 img {
		width: 250px;
		margin-top: 100px;
	}
	.post3 img {
		width: 250px;
		margin-top: 100px;
	}
	.newsWr {
		padding: 2%;
	}
	.newsWr img {
		width: 230px;
	}
	.navLogo img {
		width: 130px;
	}
	.copyright {
		display: none;
	}
	.news {
		margin: 0%;
	}
	.newsWr h1 {
		font-size: 23px;
	}
	.newsWr p {
		font-size: 15px;
	}
}
